@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}

/* Add a custom font-face for TT Firs Neue if you have the font files */
@font-face {
  font-family: 'TT Firs Neue';
  src: url('/fonts/TTFirsNeue-Medium.woff2') format('woff2'); /* Example path */
  font-weight: 500;
  font-style: normal;
}
